/* DO NOT REMOVE */
@import 'modules/base';
/* ------------- */

/* ---- CONTAINER ---- */
.container{ 
    width: @container;
    margin: 0 auto;
    padding: 0 .625em;
    .box-sizing(border-box)
}

/* ---- MODULES - Import the ones you need. ---- */
@import 'modules/form';
@import 'modules/table';
@import 'modules/tooltip';
@import 'modules/popover';
@import 'modules/modal';
@import 'modules/buttons';
@import 'modules/sidr';


/* ---- HEADER ---- */
@import 'sections/header';


/* ---- PAGE STYLES COMMON ---- */
@import 'pages/page';


/* ---- HOME PAGE SLIDESHOW ---- */
@import 'sections/home-slideshow';


/* --- HOME PAGE INTRO ---- */
@import 'sections/home-intro';


/* --- HOME PAGE GALLERY ---- */
@import 'sections/home-gallery';


/* --- HOME PAGE BLOG ---- */
@import 'sections/home-blog';


/* --- BLOG ---- */
@import 'pages/blog';


/* ---- SIDEBAR ---- */
@import 'sections/sidebar';


/* ---- FOOTER ---- */
@import 'sections/footer';


/* ---- MEDIA QUERIES ---- */

/* Smaller than the container */
@media @containerMQ {
    
    .container{ 
        width: 100%; 
        padding-left: 1.25em;
        padding-right: 1.25em
    }
    
}

@media only screen and (max-width: 56.25em) { /* 900px */
    
    .main-nav{
    
        > ul{
            .font-nomargin(19,24);
        }
        
        > ul > li{
            margin-left: 1.8em;
        }
    }
    
}

@media only screen and (max-width: 47.9375em) { /* 767px */
    
    .logo{
        width: 60%;
    }
    .mobile-nav-button{ 
        display: inline-block;
        width: 40%
    }
    .main-nav{ display: none }
    .slide{ height: 432px }
    
    .shares{ 
        width: 100%;
        margin-bottom: 1.5em;
    }
    .read-more{
        width: 100%;
        float: left;
        text-align: left;
        margin-bottom: 1.5em;
    }
    .share-name{ display: none; }
    
    .copyright{ text-align: center }
    
}

@media only screen and (max-width: 29.9375em) { /* 479px */
    
    img.align-right,
    img.align-left,
    a img.align-right,
    a img.align-left{
        display: block;
        float: none;
        clear: both;
        margin: 0 auto;
    }
    
}