/* DO NOT REMOVE */
@import 'modules/base';
/* ------------- */

/* CONTAINER */

.container{ width: 960px; margin: 0 auto; padding: 0 10px; .box-sizing(border-box) } /* container base is 960 / 12 col / 10px gutter */



/* 
    MODULES 

    Import the ones you need.

*/


@import 'modules/form'; /* Form styles */
@import 'modules/table'; /* Table styles */
@import 'modules/tooltip'; /* Tooltip styles */
@import 'modules/popover'; /* Popover styles */
@import 'modules/modal'; /* Modal styles */
@import 'modules/buttons'; /* Button styles */
@import 'modules/sidr'; /* off canvas nav styles */




/* ---- HEADER ---- */

.header{
    width: 100%;
}

.mobile-main-nav-wrap{
    width: 100%;
    padding: .75em 1.5em;
    font-size: 1.25em;
    .box-sizing(border-box);   
}

.mobile-nav-button{
    width: 20%;
    display: inline-block;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 0;
    color: #fff;
    .transition(all .2s ease-in);
    
    span{
        padding: 0 0 0 4px
    }
    
}

.mobile-nav-button:hover{
    color: #000;
}

.main-nav{
    display: inline-block;
    float: left;
    width: 80%;
    float: left;
    color: #fff;
    
    ul{
        display: block;
        width: 100%;
        text-align: right;
        list-style: none;
    }
    
    ul li{
        display: inline-block;
        float: right;
        margin-left: 40px;
    }
    
    ul li a{
        display: block;
        width: 100%;
        padding: 12px 0;
        text-decoration: none;
        color: #fff;
        .transition(all .2s ease-in);
    }
    
    ul li a:hover{
        display: block;
        width: 100%;
        text-decoration: none;
        color: #000;
    }
    
}

.plain-hero{
    width: 100%;
    height: 432px;
    background-repeat:no-repeat;
    background-position:center;
    .background-cover;
    background-image: url('../images/plain.jpg');
    .em-bottom(48px);
}

.slide{ .em-bottom(11px) }







/* ---- SIDEBAR ---- */

.sidebar{}






/* ---- FOOTER ---- */

.footer{
    width: 100%;
    float: left;
    background: #393939;
    color: #fff;
    text-align: center;
    padding: 24px 0 0 0;
    .font-nomargin(12);
    
    a{
        color: #fff;
    }
    
    a:hover{
        color: #f3f3f3;
    }
    
}






/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    
    .container{ width: 100%; padding: 0 20px }
    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    
    .mobile-nav-button{ width: 100% }
    .main-nav{ display: none }
    
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}