/* Baseline */
@defaultfontsize: 16;
@lineheight: 1.5;
@defaultlineheight: @defaultfontsize*1.5;

@background-color: #FFF;
@body-text-color: #111;
@header-text-color: #111;
@link-primary: #222;
@link-primary-hover: #555;

/*  Globals */
@border-radius: 3px;

/* Table colors */
@table-border-color: #CCC;
@table-header-background-color: #d7e3e3;
@table-header-text-color: #111;
@table-header-sorted-background-color: #8dbdd8;
@table-cell-text-color: #3D3D3D;
@table-cell-background-color-normal: #FFF;
@table-cell-background-color-even: #f3f3f8;
@table-footer-cell-background-color: #FFF;