.footer{
    width: 100%;
    float: left;
    background: #393939;
    color: #f0f0f0;
    padding: 3em 0 .75em 0;
    
    p{
        .font(14);
    }
    
}

.footer-nav{
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0 0 2em 0;
    }
    
    ul li {
        .font-nomargin(14);
    }
    
    ul li a{
        display: block;
        padding: .375em 0;
        text-decoration: none;
        color: #f0f0f0;
    }
    ul li a:hover{
        color: #adadad;
    }
}

.socials-footer{
    text-align: center;
    
    .social-button{
        display: inline-block;
        .font(24,24);
        color: #f0f0f0;
        margin: 0 0 1.5em 1.25em;
    }
    
    .social-button:hover{
        color: #adadad;
    }
    
    .social-button:first-child{
        margin-left: 0;
    }
    
}

.copyright{
    text-align: right;
    color: #f0f0f0;
}

#scrollto-top{
    display: block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    .font-nomargin(22);
    text-align: center;
    line-height: 42px;
    color: #333;
    background: #999;
    position: absolute;
    top: 0;
    right: 20px;
}

#scrollto-top:hover{
    background-color: #777;
    color: #fff;
}